ClientDropBoxClone/Connected Services/Service/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8322/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDropBoxClone" />
  <xs:element name="AddFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="FileSize" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFDropBoxClone" minOccurs="0" name="DownloadFileResult" nillable="true" type="q1:DownLoadFileData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDBToDataGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDBToDataGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFDropBoxClone" minOccurs="0" name="LoadDBToDataGridResult" nillable="true" type="q2:DataTableToGrid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>