ClientDropBoxClone/Connected Services/Service/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFDropBoxClone" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFDropBoxClone" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DownLoadFileData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownLoadFileData" nillable="true" type="tns:DownLoadFileData" />
  <xs:complexType name="DataTableToGrid">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileTable" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataTableToGrid" nillable="true" type="tns:DataTableToGrid" />
</xs:schema>